/*Body*/
body{
    background: #01011c;
}

/*Global spacing*/
.pad10-top{
    padding-top: 10px;
}
.pad20-top{
    padding-top: 20px;
}
.pad30-top{
    padding-top: 30px;
}
.pad10-bottom{
    padding-bottom: 10px;
}
.pad20-bottom{
    padding-bottom: 20px;
}
.pad30-bottom{
    padding-bottom: 30px;
}

/*header*/
#header{
    background: #01011c
}

#header .menu ul a{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

#header .flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .flex-box nav{
    display: flex;
    align-items: center;
    gap: 36px;
}

#header .flex-box .logo img{
    max-width: 170px;
}

/*Tipografia*/
.tittle{
    font-family: Poppins;
    line-height: 1.2;
    color: #ffffff;
}

.tittle.one{
    font-size: 90px;
    font-weight: 700;
}

.tittle.two{
    font-size: 60px;
    font-weight: 700;
}

.tittle.tree{
    font-size: 24px;
    font-weight: 600;
}

.tittle.treehalf{
    font-size: 28px;
    font-weight: 700;
}

.tittle.four{
    font-size: 16px;
    font-weight: 600;
}

.tittle.center{
    text-align: center;
}

.contente-box p{
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
}

.blue-text{
    color: #0000ff;
}

.lightblue-text{
    color: #a5a5ff;
}

/*Botões*/
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    width: 300px;
    border-radius: 255px;
    transition: 0.4s;
}

.btn.solid{
    background: #0000ff;
    color: #ffffff;
    border: 2px solid #0000ff;
}

.btn.solid:hover{
    background: #4444ff;
    border-color: #4444ff;
}

.btn.outline{
    background: transparent;
    color: #a5a5ff;
    border: 2px solid #a5a5ff;
}

.btn.outline:hover{
    background: #a5a5ff;
    color: #ffffff;
}

/*Grid*/
.container{
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Seções*/
#principal{
    padding: 50px 0;
}

#principal .flex-box{
    display: flex;
    align-items: center;
    gap: 75px;
}

#principal .flex-box .left,
#principal .flex-box .right{
    width: 100%;
}

#principal .flex-box .right img{
    width: 100%;
}

#sobre{
    padding: 50px 0;
}

#sobre .flex-box{
    display: flex;
    align-items: center;
    gap: 75px;
}

#sobre .flex-box .left,
#sobre .flex-box .right{
    width: 100%;
}

#sobre .flex-box .left img{
    width: 100%;
}

#artistas .artits-list{
    display: flex;
    gap: 15px;
}

#finalizacao{
    padding: 50px 0;
}

#finalizacao .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#finalizacao .flex-box .ticket{
    position: relative;
    border: 1px solid #0000ff;
    border-left-width: 100px;
    padding: 40px;
    min-width: 700px;
    min-height: 370px
}

#finalizacao .flex-box .ticket img{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#finalizacao .flex-box .ticket .quantily-box{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ffffff;
}

#carrinho{
    padding: 50px 0;
}

#carrinho .flex-box{
    display: flex;
    gap: 40px;
}

#carrinho .flex-box .left,
#carrinho .flex-box .right{
    width: 100%;
}

#carrinho .flex-box .right{
    max-width: 300px;
}

#carrinho .flex-box .ticket-list{
    margin-top: 30px;
}

#carrinho .flex-box .ticket-list .ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border: 1px solid #a5a5ff;
    border-radius: 25px;
}

#carrinho .flex-box .ticket-list .ticket .controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#carrinho .flex-box .ticket-list .ticket .controls button{
    font-family: Poppins;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    color: #ffffff;
    border: 2px solid #a5a5ff;
    border-radius: 50px;
}

#carrinho .flex-box .ticket-list .ticket .controls span{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
    color: #a5a5ff;
}

#carrinho .flex-box .form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#carrinho .flex-box .form input{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    color: #a5a5ff;
    border: 1px solid #a5a5ff;
    height: 54px;
    padding: 0 20px;
    border-radius: 255px;
}

#carrinho .flex-box .form button{
    margin-top: 30px;
}